  .wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .wrapper span {
    font-family: 'Lato';
    font-size: 20px;
    letter-spacing: 12px;
    color: #292727;
  }